#GameWorld{
   height: 1000px;
   width: 100%;
   margin: 0;
   padding: 0;
   top: 0;
   left: 0;
   display: flex;
}

#left{
    width: 500px;
    flex: 1;
    background-color: #22A7F0;
}
#right{
    width: 500px;
    flex: 1;
    background-color: green;
}

.fruiticon{
    width:60px;
    height: 60px;

}

body {
    padding: 0;
    margin: 0;
  }